root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
spaces_around_operators = true
indent_brace_style = 1tbs
# quote_type = single
semi = false
